@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Crimson Text", serif;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

article {
  max-width: 43em;
  padding: 0 1rem;
}

article h1 {
  font-weight: normal;
}

article header {
  border-bottom: 1px solid #999;
  margin-bottom: 1.3rem;
}

article header p {
  font-style: italic;
}

article > p:last-child {
  border-bottom: 1px solid #999;
  padding-bottom: 1.3rem;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 1.125rem;
  padding: 0;
  margin: 0 0 1.3rem;
}

.quote {
  color: #999;
}

header {
  padding-top: 1.3rem;
}

article p {
  margin: 0 0 1.3rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

article ol {
  padding-left: .9em;
  margin-bottom: 1.3rem;
}

body {
  margin: 0;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  article p {
    margin: 0 0 1.4rem;
  }

  article header {
    margin-bottom: 1.4rem;
  }

  article > p:last-child {
    padding-bottom: 1.4rem;
  }

  blockquote {
    margin: 0 0 1.4rem;
  }

  header {
    padding-top: 1.4rem;
  }

  article ol {
    margin-bottom: 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  article p {
    margin: 0 0 1.5rem;
  }

  article header {
    margin-bottom: 1.5rem;
  }

  article > p:last-child {
    padding-bottom: 1.5rem;
  }

  blockquote {
    margin: 0 0 1.5rem;
  }

  header {
    padding-top: 1.5rem;
  }

  article ol {
    margin-bottom: 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }
